*{
    box-sizing:border-box; 
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header{
    width: auto;
    padding: 30px 0px;
    background-color: #33333338;
    text-align: center;
    font-weight: bold;
}
.container{
    display: flex;
    justify-content: space-between;

}
.menu{
    flex-basis: 200px;
}
ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    padding-left: 0px;
    margin-top: 0px;
}
ul a{
    background-color: #33333338;
    text-align: center;
    margin-top: 5px;height: 25px;
    color: black;
    line-height: 25px;
    width: 100%;
    min-width: 70px;}
.content{
   width: auto;
   padding:5px 10px;
   display:grid;
   grid-template-columns:auto auto auto auto;
}

.about{
    width: 200px;
    text-align: center;
    background-color: #33333338;
    margin-top: 5px;
    display: inline-table;
}
.about p{
    width:auto;
    margin:10px;
    padding-bottom: 10px;
}
footer{
    background-color: #33333338;
    text-align: center;
}
.item{
    max-width: 400px;
    min-width:200px;
    height: 250px;
    margin: 10px 2px;
    box-shadow:  1px 1px 5px 0px black;
}
.item:hover{
    box-shadow: 1px 4px 20px 1px black;
    transition: 0.5s;
}
.item:hover div.tg{
    color:black;
    transition: 0.5s;
}
.item img{
    width: 100%;
    height: 150px;
}

div.title {
    display: -webkit-box;
    max-width: 100%;
    height: 35px;
    margin: 0 auto;
    font-size: 14px;
    line-height: 1.2;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight:bold;
}
.container a{
    text-decoration: none;
    color: black;
}
.container h3{
    font-weight: bolder;
    overflow: hidden;
    text-overflow: ellipsis; 
}
div.tg{
    margin-top:10px;
}
.tg,.view{
    color: #000000bd
}
div.title,div.tg,div.view{
    padding:0px 10px;
}





@media screen and (max-width:1230px){
.content{
     grid-template-columns:auto auto auto;
}
 }

@media screen and (max-width:995px){
.content{
     grid-template-columns:auto auto;
}
 }

 @media screen and (max-width:707px){
.container{
    display: flex;
    flex-direction: column;
    align-items:center;
}
.about{
    width: 100%;
}
.menu{
    width: 100%;
}
a{
    width: 100%;
}

.content{ 
width:auto;
 grid-template-columns: auto;

 }
}
