*{
    box-sizing:border-box; 
}
body{
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
@media screen and (max-width:620px){
.container{
    display: flex;
    flex-direction: column;
}
.about{
    width: 100%;
}
.menu{
 margin-bottom:0px;
 width: 100%;
}
a{
    width: 100%;
}
.about p{
    width: 100%;
}
}
header{
width: auto;
padding: 30px 0px;
background-color: #33333338;
text-align: center;
font-weight: bold;
}
.container{
display: flex;
justify-content: space-between;

}
.menu{
flex-basis: 200px;
}
ul{
list-style: none;
display: flex;
flex-direction: column;
padding-left: 0px;
margin-top: 0px;
}
ul a{
background-color: #33333338;
text-align: center;
margin-top: 5px;
height: 25px;
color: black;
line-height: 25px;
width: 100%;

}
.content{
width: auto;
padding: 10px;
display: flex;
justify-content: space-around;
flex-wrap: wrap;
}

.about{
width: auto;
text-align: center;
background-color: #33333338;
margin-top: 5px;
display: inline-table;
}
.about p{
max-width: 400px;
margin: 0px 5px;
padding-bottom: 10px;
}
footer{
background-color: #33333338;
text-align: center;
}
.item{width: 280px;height: 250px;margin: 10px; box-shadow: 4px 4px 5px 0px black;}
.item img{
width: 100%;
height: 150px;
}
.tg{
}

.view{
}
.container a{
 text-decoration: none;
 color: black;
}
.container h3{
 font-weight: bolder;
 overflow: hidden;
text-overflow: ellipsis; 
}
.container .view,.tg{
 color: #0000008c;
}
p.title{margin: 0;overflow: hidden;text-overflow: ellipsis;white-space: pre;font-weight: 600;height: 1;}
